.container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;

  .blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10% 12.5%;
    grid-auto-flow: row;
    width: 75%;

    @media screen and (max-width: 650px) {
      grid-template-columns: 1fr;
    }

    ul {
      border: 4px solid #2992dc;
      position: relative;
      background-color: #05121b;
      border-radius: 35px;
    }

    li {
      padding: 8%;
      color: white;
    }
    button {
      border-radius: 50px;
      padding: 15px;
      cursor: pointer;
      margin-bottom: 10px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
