.Register {
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  place-items: center;

  form {
    border: 4px solid #2992dc;
    position: relative;
    border-radius: 35px;
    background-color: #05121b;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;

    @media screen and (max-width: 1050px) {
      width: 40%;
    }
    @media screen and (max-width: 750px) {
      width: 50%;
    }
    @media screen and (max-width: 600px) {
      width: 60%;
    }
    @media screen and (max-width: 550px) {
      width: 70%;
    }

    .yourNameRegister {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      label {
        padding: 8%;
        color: white;
      }
      input {
        border: 4px solid #2992dc;
        display: flex;
        justify-content: center;
        @media screen and (max-width: 450px) {
          width: 70%;
        }
      }
    }

    .yourEmailRegister {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      label {
        padding: 8%;
        color: white;
      }
      input {
        border: 4px solid #2992dc;
        display: flex;
        justify-content: center;
        @media screen and (max-width: 450px) {
          width: 70%;
        }
      }
    }
    .yourPasswordRegister {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      label {
        padding: 8%;
        color: white;
      }
      input {
        margin: 15px;
        margin-bottom: 20px;
        border: 4px solid #2992dc;
        display: flex;
        justify-content: center;
        @media screen and (max-width: 450px) {
          width: 70%;
        }
        &:hover {
          color: green;
        }
      }
    }
  }
}
